resources.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="SubjectNameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="SubjectType">
		<xs:sequence>
			<xs:element name="photo" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute type="SubjectNameType" name="name"/>
	</xs:complexType>
	
	<xs:complexType name="ResourcesType">
		<xs:sequence>
			<xs:element name="subject" type="SubjectType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="resources" type="ResourcesType"/>
	
</xs:schema>